.about-container {
  width: 100%;
  background: url("../../images/about-cover.jpg");
  background-size: cover;
  height: 100vh;
}
.about-container .cover-about {
  width: 100%;
}
.about-container .logo-about {
  width: 250px;
  margin: 30px;
  position: absolute;
}

.text-about-page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.text-container-about {
  padding: 20%;
}

.text-container-about p {
  margin-bottom: 40px;
  font-family: "Indie Flower", cursive;
}

.text-container-about h2 {
  margin-bottom: 60px;
  font-size: 4rem;
  font-family: "Indie Flower", cursive;
}

.gallery {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .gallery {
  }
  .text-container-about {
    padding: 10%;
  }
  #b-gallery {
    margin-bottom: 120px;
  }

  #a-gallery {
    margin-top: 180px;
  }

  .about-container {
    background-image: url("../../images/about-cover.jpg");
    background-size: cover;
    animation: movimiento 20s infinite linear alternate;
  }
}

@keyframes movimiento {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 100% 0px;
  }
}
